# E-commerce data analysis

In this project I will analysis a data set from an E-commerce Superstore. The challenge will be to find the right insights from the huge amount of data.

### Import libaries and dataset

For this project a dataset will be used that is from a Superstore

In [2]:
df=pd.read_csv('../csv/superstore_dataset2011-2015.csv',encoding= 'unicode_escape')

In [3]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,42433,AG-2011-2040,1/1/2011,6/1/2011,Standard Class,TB-11280,Toby Braunhardt,Consumer,Constantine,Constantine,...,OFF-TEN-10000025,Office Supplies,Storage,"Tenex Lockers, Blue",408.300,2,0.0,106.140,35.46,Medium
1,22253,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,New South Wales,...,OFF-SU-10000618,Office Supplies,Supplies,"Acme Trimmer, High Speed",120.366,3,0.1,36.036,9.72,Medium
2,48883,HU-2011-1220,1/1/2011,5/1/2011,Second Class,AT-735,Annie Thurman,Consumer,Budapest,Budapest,...,OFF-TEN-10001585,Office Supplies,Storage,"Tenex Box, Single Width",66.120,4,0.0,29.640,8.17,High
3,11731,IT-2011-3647632,1/1/2011,5/1/2011,Second Class,EM-14140,Eugene Moren,Home Office,Stockholm,Stockholm,...,OFF-PA-10001492,Office Supplies,Paper,"Enermax Note Cards, Premium",44.865,3,0.5,-26.055,4.82,High
4,22255,IN-2011-47883,1/1/2011,8/1/2011,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,New South Wales,...,FUR-FU-10003447,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",113.670,5,0.1,37.770,4.70,Medium

## Data Cleaning

The data seemed to be quite clean and would be good for this analysis project.

In [43]:
df.isna().sum()

Date                   0
Customer_ID            0
Customer_Name          0
Segment                0
City                   0
Country                0
Market                 0
Product_ID             0
Category               0
Sub_Category           0
Product_Name           0
Sales                  0
Quantity               0
Discount               0
Profit                 0
Shipping Cost          0
Sales_ohne_Discount    0
dtype: int64

In this case I droped a few columns, as they were not relevant for this project.
- Row ID: too many unique numbers
- Postal Code: Too many unique numbers. And as we already have the city, we do not need the postal code
- Ship Date: the Order Date will be enough for this project
- State: not relevant for this project

In [9]:
df.drop(['Row ID', 'Postal Code', 'Ship Date', 'State'],axis=1, inplace=True)

In [10]:
df.describe()

              Sales      Quantity      Discount        Profit  Shipping Cost
count  51290.000000  51290.000000  51290.000000  51290.000000   51290.000000
mean     246.490581      3.476545      0.142908     28.610982      26.375915
std      487.565361      2.278766      0.212280    174.340972      57.296804
min        0.444000      1.000000      0.000000  -6599.978000       0.000000
25%       30.758625      2.000000      0.000000      0.000000       2.610000
50%       85.053000      3.000000      0.000000      9.240000       7.790000
75%      251.053200      5.000000      0.200000     36.810000      24.450000
max    22638.480000     14.000000      0.850000   8399.976000     933.570000

## Data Wrangling each feature

After I got an overview of the data, I started to dig deeper into data wrangling. Each feature was analysed and cleaned

I change the date to datetime which will make it easier to analyse afterwards

In [12]:
from datetime import datetime as date
df['Order Date'] = pd.to_datetime(df['Order Date'])

Droped a few columns for the following reason:
- Order ID: too many unique values
- Order Priority: not relevant for this project
- Region: we already have enough geographical features

In [13]:
df.drop(['Order ID', 'Region', 'Order Priority'],axis=1, inplace=True)

Renamed the columns to reduce problems with whitespaces.

In [15]:
df.columns=['Date', 'Ship_Mode','Customer_ID', 'Customer_Name','Segment','City', 'Country', 'Market', 'Product_ID', 'Category', 'Sub_Category', 'Product_Name', 'Sales','Quantity','Discount','Profit','Shipping Cost']

In [16]:
df.head()

,Date,Ship_Mode,Customer_ID,Customer_Name,Segment,City,Country,Market,Product_ID,Category,Sub_Category,Product_Name,Sales,Quantity,Discount,Profit,Shipping Cost
0,2011-01-01,Standard Class,TB-11280,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,OFF-TEN-10000025,Office Supplies,Storage,"Tenex Lockers, Blue",408.300,2,0.0,106.140,35.46
1,2011-01-01,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,Australia,APAC,OFF-SU-10000618,Office Supplies,Supplies,"Acme Trimmer, High Speed",120.366,3,0.1,36.036,9.72
2,2011-01-01,Second Class,AT-735,Annie Thurman,Consumer,Budapest,Hungary,EMEA,OFF-TEN-10001585,Office Supplies,Storage,"Tenex Box, Single Width",66.120,4,0.0,29.640,8.17
3,2011-01-01,Second Class,EM-14140,Eugene Moren,Home Office,Stockholm,Sweden,EU,OFF-PA-10001492,Office Supplies,Paper,"Enermax Note Cards, Premium",44.865,3,0.5,-26.055,4.82
4,2011-01-01,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,Australia,APAC,FUR-FU-10003447,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",113.670,5,0.1,37.770,4.70

After analysing Ship Mode I also to decided this column as it is not relevant for me.

In [18]:
df.drop(['Ship_Mode'],axis=1, inplace=True)

In [21]:
df.groupby('Customer_ID').agg({'Sales':'sum'}).shape

(1590, 1)

As there was also a column that showed the discount. I wanted to add a column that shows the sales without any discount.

In [31]:
df['Sales_ohne_Discount']=np.where(df.Discount==0, df.Sales, df.Sales/(1-df.Discount))

I also found an outlier that I removed, because I wanted to stick to the Inliers for this project.

<img src="../images/image1.jpg">

In [39]:
df=df[df.Sales_ohne_Discount<40000]

At the end I converted the dataframe to a csv which will be the base I will work with. Now we have a clean dataset with the most important columns that we will use in this project.

# Data Analysis

## Exploratory Data Analysis

In a first step we want to see how the business has developed in the last few years. Therefore we need to group the dataset by date-month.

<img src="../images/image4.png">

<img src="../images/image5.png">

## Recency Frequency Monetary (RFM)

After having cleaned the data and reduced some features I wanted to start with the analysis. I set the goal to cluster the different customers to receive new insights. I started with the following questions:
- Is there any significant difference between the customers of the different markets/countries. 
- There is loss/profit. How much profit did the store make in last few years?
- Which are the valuable customers and do they still order products from our store?

So those few questions lead me to the RFM concept that is build up by 3 factors:
- Recency: How recently a customer has made a purchase
- Frequency: How often a customer makes a purchase
- Monetary: How much money a customer spends on purchases
The RFM value is a marketing analysis tool used to identify a company's or an organization's best customers by using certain measures.

In [44]:
df=pd.read_csv('../csv/cleaned_csv.csv')

### Frequency

The calculation of frequency is the easiest. Each order is one frequency. As we have not grouped the dataframe yet, we just give each order a 1.

In [45]:
df['Frequency']=np.where(df.Quantity>0,1,0)

### Monetary

The monetary factor is also easy as long as we have it split up by orders. At the moment each sales value is equal to the monetary. Thoungh once we group the dataframe by customer, the monetary factor will represent the total of all sales.

In [46]:
df['Monetary']=df.Sales

### Recency

Recency is the most trickiest one. It represents how recent a customer has ordered something from the store. In case he ordered already a few times, we only take the most recent order date. As datetime is a difficult format we rather convert it to days. But firstwe need to convert the date into a datetime format, so we can subtract dates to receive the amount of days.

In [47]:
from datetime import datetime as dt
df['Date']=pd.to_datetime(df['Date'])

What is the last date that was registered in the dataframe. It is the last day in 2014. Therefore we will take the 31st December 2014 as our last day in the timeframe. So we will subtract the most frequent order from that date to measure the recency.

In [48]:
def recency_days(last_date,row):
    '''input: the date when the order was done, subtracting from the last date registered in the dataframe
    output: difference in days'''
    return abs((last_date - row['Date']).days)

So we added the recency, frequency and monetary to the dataframe. In a next step we add the values up to get the RFM score. The table grouped by the Customer_ID looks like the following:

<img src="../images/image8.png">

Each factor of the RFM was divided into 5 bins:
- Recency: The more recent a customer ordered from the store, the better. So the lower the number the better. Scale: 5 is the best, 1 is the worst.
- Frequency: The more frequent a customer ordered, the better. Scale: 5 is the best, 1 is the worst.
- Monetary: The high the monetary amount, the better. Scale: 5 is the best, 1 is the worst.

In [52]:
df_RFM['Frequency_qcut']=pd.qcut(df_RFM['Frequency'],q=5, labels = ['1','2','3','4','5'])
df_RFM['Recency_qcut']=pd.qcut(df_RFM['Recency'],q=5, labels = ['5','4','3','2','1'])
df_RFM['Monetary_qcut']=pd.qcut(df_RFM['Monetary'],q=5, labels = ['1','2','3','4','5'])

NameError: name 'df_RFM' is not defined

When you plot this you can see that the store has valuable customers that order frequently and generate a nice profit for the company.

<img src="../images/image10.png">

There is also dependency of the profit from the total sales in $. This sounds obvious but the great understanding is that customers that bought recently also generate a lot of revenue and profit at the end.

<img src="../images/image9.png">

### Clustering with KMeans

The RFM helps me to cluster my customers. Due to unsupervised learning we will use KMeans clustering in this case. The elbow method shows me that we will use 3 clusters.

<img src="../images/image11.png">

In [53]:
kmeans = KMeans(n_clusters=3).fit(df_RFM)
df_RFM['label'] = kmeans.fit_predict(df_RFM)

NameError: name 'KMeans' is not defined

The clustering did not give us new insight. Although we know which are our most valuable customers. In this case we also know that frequency is one of the most critical factor that makes a customer very valuable. For this reason I decided to create a cohort analysis, that shows the retention of a customer divided into months.

## Cohort Analysis

Cohort analysis allows a company to see patterns clearly across the life-cycle of a customer (or user), rather than slicing across all customers blindly without accounting for the natural cycle that a customer undergoes.

<img src="../images/image6.png">

To see the different characteristics of the different markets, I created a cohort analysis for each market. In this case we were able to see that in EMEA the cohort analysis looks very different.

<img src="../images/image7.png">

After this insights that some markets might have a lower frequency, I decided to use the survival graph to see which markets have a lower frequency compared to other markets.

## Survival graphs by customer

In this chapter I want to look at the churned customers by different perspectives to find some new insights.

The following graph shows us the customers attrition by frequency and recency. The higher the number the more recent a customer bought a product from our store. So the clusters "5" and "4" are the most interesting ones. And the graph below shows us that the more recent customers bough something from our store, the more frequent they buy from our store. This is a great output. At the end we want to have a high frequency of our customers

<img src="../images/image12.png">

The following graph gives us insights regarding the different frequency in the different countries. We learned that the more frequent a customer orders the more profitable he will be for us.

<img src="../images/image13.png">

So the graph shows us two classes: 
- Canada, Africa, EMEA: the market has customers that order less frequent compared to other markets. 
- APAC, EU, LATAM, US: These market show a high frequency of orders by their customers. 

So this leads us to the conclussion that the company should define the right actions to increase the frequency in the markets of Canada, Africa, EMEA.

### Survival graph by Segment

<img src="../images/image15.png">

The further filtering gave us a more detailed insight. So the problem in the mentioned countries is found in the segment "Office Supplies". Compared to all the other markets, EMEA, Canada and Africa have a much lower frequency of orders in these section.

## Recommendation System

As we learnt there are a few countries where customers have a low frequency of orders. To change that we introduce the recommendation system. With this new system we want to be able to recommend the right products to each customer. This individual offering is based on the history data.

> we want to create a matrix that has customers on one axis, products on the other, and the quantity purchased as the values. There will be many instances where a customer has not purchased a product, which by default will be expressed with a null value.

<img src="../images/image16.png">

What kind of distance metric should we use?
- Euclidean distance is the most common use of distance. In most cases when people said about distance, they will refer to Euclidean distance. Euclidean distance is also known as simply distance. When data is dense or continuous, this is the best proximity measure.
The Euclidean distance between two points is the length of the path connecting them.The Pythagorean theorem gives this distance between two points.
- Manhattan distance is a metric in which the distance between two points is the sum of the absolute differences of their Cartesian coordinates. In a simple way of saying it is the total suzm of the difference between the x-coordinates  and y-coordinates.
- The Minkowski distance is a generalized metric form of Euclidean distance and Manhattan distance.
- Cosine similarity metric finds the normalized dot product of the two attributes. By determining the cosine similarity, we would effectively try to find the cosine of the angle between the two objects. The cosine of 0Â° is 1, and it is less than 1 for any other angle.

We are using the Euclidean distance as we are only looking for the shortest distance between two points

In [54]:
cust_dist = pd.DataFrame(1/(1 + squareform(pdist(cust_prod_pivot, 'euclidean'))),
                         index=cust_prod_pivot.index, columns=cust_prod_pivot.index)

NameError: name 'squareform' is not defined

<img src="../images/image18.png">

as an example in a heatmap it looks like this. (in this case only a few values were used to show the example)

<img src="../images/image17.png">

We now have a ranked list of products that similar customers have purchased, but we haven't taken into consideration yet whether our target customer already purchases any of those items. We want to recommend them items that they might like but haven't purchased before. So we will merge the list of ranked products with our target customer's purchase list and keep only the records for items that the customer has not purchased. These will be the items that we recommend to the customer.

> So in this case we created a list of the top 5 recommendations for each customer

<img src="../images/image19.png">

After knowing what products the customer would like, we only have to somehow be able to recommend these products to him.

## Chatbot

A chatbot is a piece of software that conducts a conversation via auditory or textual methods.

<img src="../images/image20.png">

> In this case we want to use the chatbot to be able to recommend the products to the customer, only by knowing his name. 
So once we know the name of the customer we will tell him to check out one of the products from the top recommendations. This is the result:

<img src="../images/image22.png">

# Conclusion

Starting by analysing to data of a very successful big store, we were able to find markets with potential to increase its profit. By using the cohort and survival analysis we found out that the order frequency is lower in a few markets compared to the rest. So therefore we decided to use a recommendation system to be able to make individual recommendations to each customer. We are trying to achieve a higher frequency by using a chatbot that recommends those products to the customer. We are sure that we will be able to be more successful in those countries with this new defined actions.